body{
	border-style: solid;
	border-width: 3px;
	border-color: #909090;
	margin: 25px 25px 25px 25px;
}


.cover {
	margin: 1% ;
    width: 98%;
    height: 270px;
    background-image: url("https://github.com/MrunalRajput/MrunalRajput.github.io/blob/master/Seattle.jpg?raw=true");
    background-size: 100% 100%;
    background-blend-mode: color-burn;
    -webkit-filter: grayscale(100%);
}